
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 0 1.5rem;
}

.container {
   display: flex;

}

header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.5rem 0 2rem 0;
}

.primary-container {
      width: 65%
}

main {
   border-bottom: 0.25px solid #606060;
   padding-bottom: 1rem;
}

.primary-nav {
   display: flex;
   align-items: center;

}

.logo {
   padding-left: 1rem;
}

.search-bar-container {
   display: flex;
   align-items: center;
   height: 32;
   border: 1px #606060 solid;
}

.search-bar {
   width: 600px;
   height: 32px;
   border-color: none;
   padding-left: 9px;
   font-size: 17px;
   font-weight: 500;
   border: none;
}

.search-bar-btn {
   background-color: #F8F8F8;
   border: none;
   width: 60px;
   height: 100%;
   border-left: 1px #606060 solid;
}

.microphone-btn {
   padding-left: 1rem;
}

.secondary-nav {
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 200px;
}

.primary-container {
   margin-left: 136px;
}

.video-title {
   display: block;
   margin-top: 1rem;
}

.secondary-video-info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 1rem;
   border-bottom: #606060 0.25px solid
}

.video-stats {
   display: flex;
   color: #606060;
}

.video-date {
   padding-left: 0.5rem;
}

.video-nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.author {
   display: flex;
   align-items: center;
   margin-top: 1rem;
   font-size: 12px;
}

.author-details {
   display: block;
   padding-left: 1rem;
}

.subscription {
   display: flex;
   align-content: center
}

.subscription button {
   border: none;
   padding: 1rem
}

.subscription img {
   height: 75%;
   padding-top: 10px;

}

.subscribers {
   color: #606060;
}

.video-details {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 14px;
}

.subscribe-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.video-description {
   padding-left: 5rem;
   width: 800px;
}

.show-more {
   font-weight: 800;
   color: #606060;
   padding-top: 1rem;
   font-size: 14px;
}

.comments {
   margin-top: 1.5rem;
}

.comments-header {
   display: flex;
   align-items: center;
}

.comments-filter {
   display: flex;
   align-items: center;
   color: #606060;
   padding-left: 2rem;
   font-weight: 800;
}

.comment-reply {
   font-weight: 600;
   color: #606060;
   font-size: 12px;
}

.comment-form {
   display: flex;
   align-items: center;
}

.comment-form input {
   height: 21px;
   border: none;
   border-bottom: 1px solid #606060;
   width: 1058px;
   margin-left: 1rem;
   font-size: 16px;
}

.comment {
   display: flex;
   align-items: center;
   margin: 2rem 0;
}

.user-and-date {
   display: flex;
   align-items: center;
   margin-left:
}


.comment-date {
   padding-left: .5rem;
   color: #606060;
   font-weight: 400;
   font-size: 12px;
}

.comment-message {
   margin-top: .5rem;
}

.comment-bottom {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 150px;
}

.comment-thumbs-up,
.comment-thumbs-down {
   margin-top: .5rem;
   width: 27px
}

.comment-profile-img {
   margin-right: 1rem;
}

.suggested-videos {
   margin-left: 1.5rem;
}

.suggestion-details {
   padding-left: .5rem;
}

.suggestion {
   display: flex;
   align-items: center;
   width: 400px;
   padding: .5rem 0;
}

.suggestion-title {
   font-size: 14px;
}

.suggestion-author,
.suggestion-details,
.suggestion-metrics {
   font-size: 12px;
   color: #606060;
}
